#planets {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.margin {
    width: 20rem;
    height: 100%;
}

.main-page {
    height: 100%;
    width: 100%;

    padding: 3rem;
    padding-top: 2rem;

    background-image: radial-gradient(#e3e8f8,  #9eadda);
}

html,body,#wrapper {
    width: 100%;
    height:100%;
    margin:0;
    padding:0;

    flex-direction: row;
}
#wrapper {
    position:relative;
}

#top, #middle, #bottom {
    position:absolute;
}

#top {
    top: 0;
    height:100px;
    width:100%;
}

#middle {
    top:100px;
    bottom:0px;
    width:100%;
    
}

#bottom {
    bottom:0;
    height:100px;
    width:100%;
}

.header {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    font-size: 4rem;
    font-family: 'Josefin Sans';
    color: #330e3c;

}

.divider-vertical {
    height: 80%;
    width: 3px;

    background-color: #330e3c;
    border-color: #330e3c;
    border-style: solid;
    border-radius: 20px;
}

.add-planet-button {
    width: 18rem;
    height: 5rem;

    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    
    border-radius: 20px;
    border-color: rgb(3, 95, 3);

    transition: 0.3s;
}

.add-planet-button:hover {
    width: 19rem;
    height: 5.4rem;
    font-size: 1.5rem;
    cursor: pointer;

    background-color: rgb(3, 95, 3);
}

.divider-horizontal {
    margin-left: 20px;
    margin-right: 20px;
    height: 5px;

    background-color: #330e3c;
    border-color: #330e3c;
    border-style: solid;
    border-radius: 20px;
}

.planets-list {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 2rem;

    overflow: auto;
    background-color: white;
}